#lights{
    position: absolute;
    right: 1;
    top: 1;
    margin-top: 22.8%;
    margin-right: 19%;
}

.bulb {
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 0px 10px;
	border-radius: 50%;
}
.bulb:nth-child(1) {
	/* background: rgba(0, 100, 122, 0.8); */
	opacity: 1;
	box-shadow: 1px 1px 30px rgba(0, 100, 122, 0.8), -1px -1px 100px rgba(0, 100, 122, 0.8);
	animation: bulb-pulse-1 0.8s linear 0s infinite alternate;
}
.bulb:nth-child(2) {
	background: #6CB6FF;
	opacity: 1;
	box-shadow: 1px 1px 30px #6CB6FF, -1px -1px 100px #6CB6FF;
	animation: bulb-pulse-1 0.8s linear 0s infinite alternate;
}
.bulb:nth-child(3) {
	background: #0C0;
	opacity: 1;
	box-shadow: none;
	animation: bulb-pulse-2 1s linear 0s infinite alternate;
}
.bulb:nth-child(4) {
	background: #FFD700;
	opacity: 1;
	box-shadow: none;
	animation: bulb-pulse-3 0.8s linear 0s infinite alternate;
}
.bulb:nth-child(5) {
	background: #ff00ff ;
	opacity: .2;
	box-shadow: none;
	animation: bulb-pulse-4 1.2s linear 0s infinite alternate;
}
@keyframes bulb-pulse-1 {
	from { box-shadow: 1px 1px 30px white, -1px -1px 100px white; opacity: 1; }
	to { box-shadow: none; opacity: .3; }
}
@keyframes bulb-pulse-2 {
	from { box-shadow: 1px 1px 30px #6CB6FF, -1px -1px 100px #6CB6FF; opacity: 1; }
	to { box-shadow: none; opacity: .3; }
}
@keyframes bulb-pulse-3 {
	from { box-shadow: none; opacity: .3; }
	to { box-shadow: 1px 1px 15px #0C0, -1px -1px 15px #0C0; opacity: 1; }
}
@keyframes bulb-pulse-4 {
	from { box-shadow: none; opacity: .3; }
	to { box-shadow: 1px 1px 15px #FFD700, -1px -1px 15px #FFD700; opacity: 1; }
}
@keyframes bulb-pulse-5 {
	from { box-shadow: none; opacity: .3; }
	to { box-shadow: 1px 1px 15px #ff00ff, -1px -1px 15px #ff00ff; opacity: 1; }
}