.sobre {
  color: white;
  font-size: 19px;
  text-align: justify;
}

.sobre-linha {
  border-top: 2%;
}

body {
  overflow-x: hidden;
}

html { overflow:auto; }

.texto-principal{
    margin-top: 2%;
}

.responsive-iframe {
  display: block;  
  top: 7%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 88%;
  border: 0;
  max-height: 1600px;
}

.fundo-barra {
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: .9;
  font-size: 19px;
}

.titulo-principal {
  color: white;
}

.navbar-brand {
  color: white !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}


a.navbar-link {
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.botao-href {
  margin-top: 100px;
  background-color: #AFD7DD !important;
  color: #222A35 !important;
  font-size: 23px !important;
}

.corpo-dash{
  margin: 0;
  height: 100%;
  overflow: hidden;
}


body.sobre-body {
  position: relative;
}

body.sobre-body::after{
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background: url(./Fundo-Layout-Site-Energy-EIP.png);
  filter: blur(8px);
}

body.outros-body::after{
  content: "";
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
  position: absolute;
  background: url(./Fundo-Layout-Site-Energy-EIP.png);
}

.home-section .svg-container #svg-home .shine,
.home-section .svg-container #svg-home .text-animated {
  opacity: 0;
}

@media (min-width: 1280px){
  .container {
    /* max-width: 1600px; */
      max-width: 1248px;
  }
}
@media (min-width: 992px){
  .container {
    /* max-width: 1248px; */
      max-width: 960px;
  }
}
@media (min-width: 768px){
  .container {
    /* max-width: 960px; */
      max-width: 720px;
  }
}
@media (min-width: 576px){
  .container {
    /* max-width: 720px; */
      max-width: 540px;
  }
}
.container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}


.align-items-start {
    align-items: flex-start !important;
}

.home-section #image-home {
  position: absolute;
  top: 0;
  left: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  opacity:80%
}

#svg-home {
  z-index: 1000;
}
/* .svg-container{
    position: absolute;
    top: 10%;
    left: calc(100% - 860px);
    width: 50%;
    height: 80%
} */
/* #image-home{
    margin-top: 6%;
    margin-left: calc(100% - 900px); 
} */

.glitter-animate {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: glitter 20s linear 20s infinite normal;
  -webkit-animation: glitter 20s linear 20s infinite normal;
  -moz-animation: glitter 20s linear 20s infinite normal;
  -ms-animation: glitter 20s linear 20s infinite normal;
  -o-animation: glitter 20s linear 20s infinite normal;
  text-shadow: -1px 0 #00687e, 0 1px #00687f, 1px 0 #00687f, 0 -1px #00687f;
}

.text-animate {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: text_home_animation 10s linear 5s infinite normal;
  -webkit-animation: text_home_animation 10s linear 5s infinite normal;
  -moz-animation: text_home_animation 10s linear 5s infinite normal;
  -ms-animation: text_home_animation 10s linear 5s infinite normal;
  -o-animation: text_home_animation 10s linear 5s infinite normal;
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes text_home_animation {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1.4);
    opacity: 0;
  }
}
/* .home-figure {
  
} */
.st0{fill:#FFFFFF;}
	.st1{font-family:'Roboto-Bold';}
	.st2{font-size:40.067px;}
	.st3{font-size:35.5537px;}
	.st4{font-size:43.8786px;}
	.st5{font-size:39.8745px;}
	.st6{font-size:40.9834px;}
	.st7{font-size:39.6217px;}
	.st8{font-size:40.8141px;}
	.st9{font-size:36.9958px;}
	.st10{font-size:43.4972px;}
	.st11{font-size:35.9179px;}
	.st12{font-size:31.9542px;}
	.st13{font-size:35.8079px;}
	.st14{font-size:42.4481px;}
	.st15{font-size:38.1454px;}
	.st16{font-size:40.1828px;}
	.st17{font-size:44.953px;}
	.st18{font-size:38.89px;}
	.st19{font-size:35.9866px;}
	.st20{font-size:44.7417px;}
	.st21{font-size:41.3201px;}
	.st22{font-size:42.4139px;}
	.st23{font-size:39.2092px;}

  .top-site .navbar {
    height: 50px;
    max-height: 50px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.top-site .navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    padding: 0 8px;
}

.top-site .navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.top-site .logo-top {
    height: 30px;
}

.top-site .pipeline-top {
  height: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  vertical-align: middle;
}

.top-site .link-site-top a {
    color: #FFF;
    text-decoration: none;
}